.advantages {
    padding: 58px 0 51px 0;
    background-color: #f3f3f3;
    &__items {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 510px);
        justify-content: space-between;
        row-gap: 35px;
        
    }
    &_item {
        display: grid;
        grid-template: repeat(2, auto) / 62px 453px;
        align-content: center;
        
        row-gap: 10px;
        column-gap: 20px;
        &-img {
            grid-column-start: 1;
            grid-row: 1 / 3;
            margin-top: 5px;
        }       
        &-subtitle {            
            grid-column-start: 2;
            font-size: 16px;
            font-weight: 700;
            color: #ec644b;
            
        }
        &-descr {
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            display: grid;
            grid-column-start: 2;
            grid-row-start: 2;
            
            
        }
    }

}