.manager {
    padding: 58px 0 76px 0;
    background: url("../img/main_manager.jpg") no-repeat 50% / cover;
    text-align: center;
   &__title {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
   }
   &__descr {
    margin: 0 auto;
    margin-top: 18px;
    font-size: 19px;
    width: 925px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;
   }
}